<!DOCTYPE html>
<html lang="en" dir="ltr">
<head><meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Dastan Dashboard</title>
  <script type="text/javascript" src="../static/js/script.js">

  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFT5ZcpdHpeqZfuma0uuUrwTSgN3ie7-s&callback=initMap"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<div>
  <div class="topnav">
    <a  href="/">Home</a>
      
      <!-- <a  href="/location">location</a> -->
      <a href="/addstory">Add Personal Story</a>
      <a href="/viewstory">View Personal Story</a>

  </div>
  
  <!-- Side navigation -->
  <div class="sidenav">
    <img src = "{{ url_for('static', filename='images/avatar.png') }}" alt = "avatar">
    <div id="chatbox">
      <p class="botText">
        <span>Hi! I'm DastaanGo your personal ChatBot</span>
      </p>
    </div>
    <div id="userInput">
      <input id="textInput" type="text" name="msg" placeholder="Message" />
    </div>
  </div>
    
    
  </div>
  
  <script>
    function getBotResponse() {
      var rawText = $("#textInput").val();
      var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
      $("#textInput").val("");
      $("#chatbox").append(userHtml);
      document
        .getElementById("userInput")
        .scrollIntoView({ block: "start", behavior: "smooth" });
      $.get("/get", { msg: rawText }).done(function(data) {
        var botHtml = '<p class="botText"><span>' + data + "</span></p>";
        $("#chatbox").append(botHtml);
        document
          .getElementById("userInput")
          .scrollIntoView({ block: "start", behavior: "smooth" });
      });
    }
    $("#textInput").keypress(function(e) {
      if (e.which == 13) {
        getBotResponse();
      }
    });
  </script>

<div class="main">
  
  <div id="map"></div>
  

  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3620.478110646292!2d67.03085311440064!3d24.84751518406003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33dd84b5b4d7b%3A0x37de022366f8096f!2sFrere%20Hall!5e0!3m2!1sen!2s!4v1668078843170!5m2!1sen!2s" width="3600" height="1450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

</div> 
  

</body>
</html>