FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY= "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"
