FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY= "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"
